.background_wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: -2;
    background: #101f24;
}
#glCanvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    z-index: -1;
}